/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
*/

// ====================================================================== COLORS

// ====================================================================== TYPOGRAPHY

h1.blogpost { padding-bottom: 20px; }
pre.prettyprint { margin: 20px auto; }

// ====================================================================== STRUCTURE

.container-fluid.fixed-menu { padding-top: 60px; }

.row.padded-bottom { padding-bottom: 20px; }
.row.padded-top { padding-top: 30px; }

.panel { margin-top: 30px; }

// ====================================================================== MENU

ul.nav.navbar-nav li a span.glyphicon { margin-right: 10px; }

// ====================================================================== BREADCRUMBS

// ====================================================================== OVERVIEW TABLES

table.overview-table {
  tbody tr td { vertical-align: middle; }
  tbody tr td.actions-2 { width: 101px; }
  tbody tr td.timestamp { width: 185px; }
  tbody tr td.boolean { width: 30px; }
}

// ====================================================================== FORMS