.row.padded-bottom.padded-top
  .col-md-1
  .col-md-10
    %ol.breadcrumb
      %li= link_to("Dashboard", [:admin, :dashboard])
      %li= link_to("Blog", [:admin, :posts])
      %li= "New Post"
  .col-md-1

.row
  .col-md-1
  .col-md-10
    = render("form")
  .col-md-1