%nav.navbar.navbar-default.navbar-fixed-top{ :role => "navigation" }
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ :type => "button", :data => { :toggle => "collapse", :target => "#main_nav" }}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to("Stefan Hagen", :root, :class => "navbar-brand")
    .collapse.navbar-collapse#main_nav
      %ul.nav.navbar-nav 
        = menu_item(:blog, "home", :blog, menu_active?(:pages, :blog))
        = menu_item(:about, "user", :about, menu_active?(:pages, :about))